<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="{{ .Site.Params.baiduSiteVerificateID }}" />
    {{ if eq .Params.url "/" }}
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:type" content="website">
    {{ else }}
    {{ $section := default .Section ($.Scratch.Get "section") }}
    <title>{{ .Title }}{{ with .Params.subtitle }} - {{ . }} {{ end }} - {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    {{ end }}

    {{ if .Keywords }}
    <meta property="keywords" content="{{ delimit .Keywords " , " }}">
    {{ end }}

    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink | relURL }}" rel="alternate" type="application/rss+xml" title="{{ $.Title }}" />
    {{ end }}
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}/css/style.css" />
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}/css/fonts.css" />
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}/css/template.css" />
</head>